<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\ConfigurableProduct\Model\ConfigurableAttributeData" type="Prokarma\Adminconf\Model\ConfigurableAttributeData" />
	<preference for="Magento\Checkout\Controller\Cart\UpdateItemOptions" type="Prokarma\Adminconf\Controller\Cart\UpdateItemOptions" />
</config>